.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.connect {
  padding: 10px;
  border: none;
  background-color: #0d0d0d;
  color: #fff;
  cursor: pointer;
}

.address {
  color: #858584;
}

.address:hover {
  color: #0d0d0d;
  cursor: pointer;
}

.warning {
  margin: 0;
  margin-bottom: 2rem;
  padding: 10px 0;
  text-align: center;
  background-color: #eed202;
  font-size: 12px;
}

.yearn {
  color: blue;
}

.main {
  margin: auto;
  margin-top: 4rem;
  max-width: 1200px;
}

.balances {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.balanceText {
  margin: 0;
  padding-bottom: 1.5rem;
  font-size: 32px;
  line-height: 40px;
}

.balanceAmount {
  font-size: 64px;
  line-height: 72px;
}

.deposited {
  width: 66.6%;
}

.earnings {
  width: 33.3%;
  visibility: hidden;
}

.vaults {
  background-color: #f5f5f5;
  padding: 15px 0;
  border-radius: 5px;
  margin-bottom: 2.5rem;
}

.vaultsText {
  font-size: 32px;
  margin-bottom: 2.5rem;
  padding-left: 30px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 20px 60px;
  text-align: left;
}

.table .column {
  width: 50%;
}

.table th {
  background-color: #f2f2f2;
}

.tokenRow {
  display: flex;
  align-items: center;
  width: 100%;
}

.tokenText {
  margin-left: 20px;
}

.depositZero {
  color: #a8a9a9;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.logoHeader {
  border-radius: 50%;
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .logo img {
    filter: invert(1);
  }
}
